@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 882px;
  background: var(--palet-32, #71D);
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-bottom: 80px;
}
header .header_container .header_text-content {
  max-width: 590px;
  margin-left: 120px;
}
header .header_container .header_text-content h1 {
  color: var(--main-white, #FFF);
  font-family: Permanent Marker;
  font-size: 70px;
  font-weight: 400;
  line-height: 75.5px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
header .header_container .header_text-content p {
  color: var(--main-white, #FFF);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.45px;
  max-width: 720px;
}
header .header_container .header_text-content .btn_content {
  display: flex;
  gap: 15px;
  margin-top: 50px;
}
header .header_container .header_text-content .btn_content .button {
  width: 189px;
  height: 46.843px;
  border: 2px solid;
  border-bottom: solid 5px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 32px;
  gap: 9px;
  border-radius: 10px;
  cursor: pointer;
}
header .header_container .header_text-content .btn_content .button img {
  width: 25px;
  margin-left: 31px;
}
header .header_container .header_text-content .btn_content .button p {
  color: var(--main-black, #1C1C1D);
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.45px;
}
header nav {
  padding-top: 19px;
  margin-bottom: 182px;
}
header nav .nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 121px;
  padding-right: 120px;
}
header nav .nav__content .logo {
  cursor: pointer;
}
header nav .nav__content .nav__menu {
  display: flex;
  align-items: center;
}
header nav .nav__content .nav__menu ul {
  display: flex;
  gap: 22px;
  margin-right: 23px;
}
header nav .nav__content .nav__menu .menu {
  margin-left: 23px;
  width: 49px;
  height: 47.5px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  border-radius: 50px 45px 55px 50px;
  cursor: pointer;
}

main .about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
main .about_container h1 {
  color: var(--main-black, #1C1C1D);
  font-family: Permanent Marker;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
main .about_container .info {
  color: var(--main-gray, #474A57);
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.45px;
  max-width: 601px;
  margin-bottom: 60px;
}
main .about_container .img_content {
  display: flex;
  gap: 30px;
}
main .about_container .img_content .img1 {
  max-width: 340px;
  height: 183px;
  border-bottom: 3px solid;
  border-radius: 10px;
}
main .about_container .img_content .img1 .top {
  display: flex;
  align-items: center;
  gap: 22px;
  padding-top: 25px;
  padding-left: 20px;
  margin-bottom: 16px;
}
main .about_container .img_content .img1 .top h2 {
  color: var(--main-white, #FFF);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
main .about_container .img_content .img1 .bottom {
  padding-left: 20px;
}
main .about_container .img_content .img1 .bottom p {
  color: var(--main-white, #FFF);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
main .radio {
  text-align: center;
  margin-bottom: 230px;
}
main .radio input {
  cursor: pointer;
}

main .stories_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}
main .stories_container h1 {
  font-family: Permanent Marker;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 58px;
}
main .stories_container .stories_content {
  display: flex;
  gap: 30px;
}
main .stories_container .stories_content .stories_block .card {
  max-width: 380px;
  height: 265.508px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-bottom: 10px solid;
  border-radius: 10px;
  margin-bottom: 25px;
}
main .stories_container .stories_content .stories_block h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.625px;
  margin-bottom: 5px;
}
main .stories_container .stories_content .stories_block .lorem {
  color: var(--main-gray, #474A57);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.45px;
  max-width: 374px;
  margin-bottom: 15px;
}
main .stories_container .stories_content .stories_block .date {
  color: var(--main-black, #1C1C1D);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

main .plan_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 160px;
}
main .plan_container .head {
  color: var(--main-gray, #454a5d);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
main .plan_container h1 {
  font-family: Permanent Marker;
  font-size: 45px;
  letter-spacing: 2px;
  margin-bottom: 60px;
}
main .plan_container .tariff {
  width: 281px;
  height: 60px;
  border: 2px solid;
  border-bottom: 5px solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
main .plan_container .tariff p {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.625px;
}
main .plan_container .tariff .pattern {
  width: 2.2px;
  height: 100%;
  background-color: #000000;
  margin-right: 40px;
  margin-left: 40px;
}
main .plan_container .plan_cards {
  display: flex;
  gap: 30px;
}
main .plan_container .plan_cards .card {
  max-width: 278px;
  height: 471px;
  border-radius: 10px;
  border: 3px solid;
  border-bottom: 10px solid;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
main .plan_container .plan_cards .card p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}
main .plan_container .plan_cards .card h2 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.45px;
  margin-bottom: 30px;
}
main .plan_container .plan_cards .card button {
  width: 217px;
  height: 51.111px;
  border: 1px solid;
  border-bottom: 6px solid;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.45px;
  background-color: #fff;
  cursor: pointer;
  transition: 40ms;
}
main .plan_container .plan_cards .card button:hover {
  transform: translateY(4px);
  border-bottom: 4.5px solid;
}
main .plan_container .plan_cards .card button:active {
  transform: translateY(5px);
  border-bottom: 2px solid;
}

main .form_container {
  display: flex;
  justify-content: center;
  gap: 113px;
  margin-bottom: 80px;
}
main .form_container .form_text-content {
  max-width: 502px;
}
main .form_container .form_text-content h1 {
  font-family: Permanent Marker;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
main .form_container .form_text-content .download-info {
  color: var(--main-gray, #474A57);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.45px;
  margin-bottom: 50px;
}
main .form_container .form_text-content .btn_content {
  display: flex;
  gap: 15px;
}
main .form_container .form_text-content .btn_content .button {
  width: 189px;
  height: 46.843px;
  border: 2px solid;
  border-bottom: 8px solid;
  background-color: #FA6648;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border-radius: 10px;
  cursor: pointer;
}
main .form_container .form_text-content .btn_content .button p {
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.45px;
}
main .form_container .form_login-content {
  max-width: 483px;
  height: 541px;
  border: 2px solid;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
main .form_container .form_login-content .sign {
  display: flex;
  gap: 19px;
  margin-bottom: 40px;
  margin-top: 40px;
}
main .form_container .form_login-content .sign h4 {
  color: var(--palet-12, #FA6648);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.625px;
}
main .form_container .form_login-content .sign p {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.625px;
}
main .form_container .form_login-content .inp1 input {
  width: 100%;
  height: 50px;
  border: 2px solid;
  border-bottom: 5px solid;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 16px;
}
main .form_container .form_login-content .inp2 input {
  width: 100%;
  height: 50px;
  border: 2px solid;
  border-bottom: 5px solid;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 16px;
}
main .form_container .form_login-content .inp3 input {
  width: 100%;
  height: 50px;
  border: 2px solid;
  border-bottom: 5px solid;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 16px;
}
main .form_container .form_login-content .inp4 input {
  width: 100%;
  height: 50px;
  border: 2px solid;
  border-bottom: 5px solid;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 16px;
}
main .form_container .form_login-content .check {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
  gap: 15px;
}
main .form_container .form_login-content .check .checkbox {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: 2px solid var(--main-black, #1C1C1D);
  background: var(--palet-15, #FFBD12);
  display: flex;
  justify-content: center;
}
main .form_container .form_login-content .check .checkbox p {
  color: var(--main-gray, #474A57);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
main .form_container .form_login-content .sign-btn {
  width: 100%;
  height: 50px;
  background-color: #FA6648;
  border-radius: 10px;
  color: var(--main-white, #FFF);
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-bottom: 5px solid black;
  cursor: pointer;
}

footer {
  display: flex;
  width: 100%;
  height: 136px;
  background-color: #7711DD;
  padding-left: 120px;
  padding-right: 120px;
}
footer .footer_container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 253px;
  justify-content: center;
}
footer .footer_container .footer_menu {
  max-width: 541px;
  display: flex;
  justify-content: space-between;
  gap: 226px;
  align-items: center;
}
footer .footer_container .footer_menu ul {
  display: flex;
  gap: 35px;
}
footer .footer_container .footer_menu ul li a {
  color: #fff;
}
footer .footer_container .btn_content {
  display: flex;
  gap: 15px;
}
footer .footer_container .btn_content .button {
  max-width: 189px;
  height: 46.843px;
  border: 2px solid;
  border-bottom: 8px solid;
  background-color: #FFBD12;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding-left: 31px;
  padding-right: 32px;
  border-radius: 10px;
  cursor: pointer;
}
footer .footer_container .btn_content .button p {
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.45px;
}

@media (max-width: 600px) {
  header {
    background-image: none;
  }
  header nav .nav__content {
    padding-left: 32px;
    padding-right: 44px;
  }
  header nav .nav__content .logo {
    margin-right: 20px;
  }
  header nav .nav__content .nav__menu .menu {
    margin-left: 0;
  }
  header .header_container .header_text-content {
    margin: 0;
    margin-left: 15px;
  }
  header .header_container .header_text-content h1 {
    font-size: 60px;
  }
  header .header_container .header_text-content p {
    font-size: 14px;
  }
  header .header_container .header_text-content .btn_content .button {
    width: 139px;
    height: 46.843px;
    margin: 0;
  }
  header .header_container .header_text-content .btn_content .button img {
    margin-left: 5px;
  }
  header .header_container .header_text-content .btn_content .button p {
    font-size: 12px;
  }
  main .about_container .img_content {
    flex-direction: column;
  }
  main .about_container .img_content .img1 {
    width: 300px;
    height: 163px;
  }
  main .about_container .img_content .img1 .bottom p {
    font-size: 14px;
  }
  main .about_container .info {
    padding-left: 10px;
  }
  main .radio {
    margin-bottom: 150px;
  }
  main .stories_container {
    margin-bottom: 150px;
  }
  main .stories_container h1 {
    font-size: 35px;
  }
  main .stories_container .stories_content {
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
  }
  main .form_container {
    flex-direction: column;
    align-items: center;
  }
  main .form_container .form_text-content {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
  main .form_container .form_text-content .btn_content {
    gap: 35px;
  }
  main .form_container .form_text-content .btn_content .button {
    width: 135px;
  }
  main .form_container .form_text-content .btn_content .button p {
    font-size: 12px;
  }
  .plan_container .head {
    padding-left: 15px;
  }
  .plan_container h1 {
    padding-left: 15px;
  }
  .plan_container .plan_cards {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
  }
  footer .footer_container {
    flex-direction: column;
    gap: 27px;
  }
  footer .footer_container .footer_menu {
    gap: 0px;
  }
  footer .footer_container .footer_menu img {
    margin-right: 30px;
  }
  footer .footer_container .btn_content {
    gap: 57px;
  }
  footer .footer_container .btn_content .button {
    width: 130px;
  }
  footer .footer_container .btn_content .button p {
    font-size: 12px;
  }
}
@media (max-width: 322px) {
  header nav .nav__content .nav__menu ul {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  header .header_container .header_text-content h1 {
    color: black;
  }
  header .header_container .header_text-content p {
    color: #000;
  }
  main .about_container .img_content {
    flex-direction: column;
    align-items: center;
  }
  main .about_container .img_content .img1 {
    max-width: 500px;
    height: 163px;
  }
  main .about_container .img_content .img1 .bottom p {
    font-size: 14px;
  }
  main .about_container .info {
    padding-left: 10px;
  }
  main .plan_container .plan_cards {
    width: 800px;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .stories_container .stories_content {
    padding-left: 15px;
    padding-right: 15px;
  }
  main .form_container {
    flex-direction: column;
    align-items: center;
  }
  footer .footer_container {
    flex-direction: column;
    gap: 30px;
  }
  footer .footer_container .btn_content {
    gap: 150px;
  }
}/*# sourceMappingURL=style.css.map */